.ClassSelectScreenRoot
{
	margin-left: 0px;
	margin-top: 0px;
	z-index: 100;
}

#BackgroundImage
{
	width: 1920px;
	height: 1080px;
	background-color: black;
	visibility: visible;
}

.CharacterPortrait
{
	margin-top: 130px;
	margin-left: 706px;
}

.CharacterPortrait Label
{
	horizontal-align: center;
	vertical-align: top;
	color: #FFFFFF;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	font-size: 50px;
	font-weight: bold;
}

#CharacterPicture
{
	margin-top: 54px;
	width: 507px;
	height: 537px;
	background-image: url("file://{images}/class_portraits/default.png");
}

.ClassesPanel
{
	width: 500px;
	height: 370px;
	margin-top: 90px;
	margin-left: 74px;
	flow-children: right-wrap;
	visibility: visible;
	background-color: green;
}

.ClassesPanel Label
{
	margin-left: 196px;
	margin-right: 196px;
	color: #FFFFFF;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	font-size: 50px;
	font-weight: bold;
}

.ClassesPanel Button
{
	width: 65px;
	height: 65px;
	margin: 15px;
	background-color: white;
	border: 2px solid goldenrod;
}

.WeaponsPanel
{
	width: 500px;
	height: 260px;
	margin-top: 470px;
	margin-left: 74px;
	flow-children: right-wrap;
	visibility: visible;
	background-color: green;
}

.WeaponsPanel Label
{
	margin-left: 150px;
	margin-right: 150px;
	color: #FFFFFF;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	font-size: 50px;
	font-weight: bold;
}

.WeaponsPanel Button
{
	width: 65px;
	height: 65px;
	margin: 15px;
	background-color: white;
	border: 2px solid goldenrod;
}

.ArmorPanel
{
	width: 500px;
	height: 260px;
	margin-top: 740px;
	margin-left: 74px;
	flow-children: right-wrap;
	visibility: visible;
	background-color: green;
}

.ArmorPanel Label
{
	margin-left: 150px;
	margin-right: 150px;
	color: #FFFFFF;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	font-size: 50px;
	font-weight: bold;
}

.ArmorPanel Button
{
	width: 65px;
	height: 65px;
	margin: 15px;
	background-color: white;
	border: 2px solid goldenrod;
	wash-color: #39b0d325;
}

.TraitsPanel
{
	visibility: collapse;
}

#ConfirmSelections
{
	border-radius: 2px;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 50px;
	width: 500px;
	height: 100px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #006500 ), to( #00C000 ) );
}

#ConfirmSelections Label
{
	color: #FFFFFF;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	font-size: 50px;
	font-weight: bold;
	horizontal-align: center;
	vertical-align: center;
}

#ConfirmSelections:hover
{
	/*vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 50px;
	width: 500px;
	height: 100px;*/
	border: 2px solid white;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #004700 ), to( #00A500 ) );
}