
.SelectClassRoot
{
	vertical-align: top;
	margin-top: 150px;
}
.ClassesPanel
{
	margin-left: 650px;
   flow-children: down;
   visibility: visible;
}
.WeaponsPanel
{
	margin-top: 100px;
	margin-left: 650px;
   flow-children: down;
   visibility: collapse;
}
.ArmorPanel
{
	margin-top: 100px;
	margin-left: 650px;
	flow-children: down;
   visibility: collapse;
}
.TraitPanel
{  
	margin-top: -34px;
	margin-left: 455px;
	flow-children: down;
	visibility: collapse;
}
.TraitPanel2
{  
	margin-top: -34px;
	margin-left: 840px;
	flow-children: down;
	visibility: collapse;
}
 .SpecPanel
{  
	margin-top: -70px;
	margin-left: 650px;
	flow-children: down;
	visibility: collapse;
}
.TooltipPanel
{  
	visibility: collapse;
}
.ConfirmResetPanel
{
	flow-children: down;
   margin-top: 600px;
   margin-left: 650px;
}


Panel{
	border: 2px solid #111111FF;
    background-color:#000000;
    padding:5px;
    visibility: visible;
}
Panel Panel{
	border-radius: 5px;
    background-color: #293e29;
    padding:10px;
	width: 390px;
}
Button{
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #293e29 ), color-stop( 0.7, #000000 ), to( #293e29 ) );
   padding: 5px;
   width: 100%;
    color:#000;
}
Label{
font-size: 40;
}
