.BaseHud
{
    /*flow-children: down;*/
	position: 88.6% 80.9% 0px;
}

.AspectRatio4x3 .BaseHud
{
	margin-top: 60px;
	margin-left: 50px;
	
}

.Background
{
    width: 214px;
    height: 200px;
    background-image: url("file://{images}/objectives_background.png");
    background-size: 100%;
}

#RadObjFalse {
	width: 13px;
	height: 13px;
	background-image: url("file://{images}/obj_incomplete.png");
	opacity: 1;
	margin-top: 51px;
	margin-left: 15px;
}

#RadObjTrue {
	width: 13px;
	height: 13px;
	background-image: url("file://{images}/obj_complete.png");
	opacity: 0;
	margin-top: 51px;
	margin-left: 15px;
}

#RadObjPerfect {
	width: 13px;
	height: 13px;
	background-image: url("file://{images}/obj_perfect.png");
	opacity: 0;
	margin-top: 51px;
	margin-left: 15px;
}

#PowObjFalse {
	width: 13px;
	height: 13px;
	background-image: url("file://{images}/obj_incomplete.png");
	opacity: 1;
	margin-top: 91px;
	margin-left: 15px;
}

#PowObjTrue {
	width: 13px;
	height: 13px;
	background-image: url("file://{images}/obj_complete.png");
	opacity: 0;
	margin-top: 91px;
	margin-left: 15px;
}

#PowObjPerfect {
	width: 13px;
	height: 13px;
	background-image: url("file://{images}/obj_perfect.png");
	opacity: 0;
	margin-top: 91px;
	margin-left: 15px;
}

#CivObjFalse {
	width: 13px;
	height: 13px;
	background-image: url("file://{images}/obj_incomplete.png");
	opacity: 1;
	margin-top: 131px;
	margin-left: 15px;
}

#CivObjTrue {
	width: 13px;
	height: 13px;
	background-image: url("file://{images}/obj_complete.png");
	opacity: 0;
	margin-top: 131px;
	margin-left: 15px;
}

#CivObjPerfect {
	width: 13px;
	height: 13px;
	background-image: url("file://{images}/obj_perfect.png");
	opacity: 0;
	margin-top: 131px;
	margin-left: 15px;
}

.FalloutBar
{
    width: 164px;
    height: 24px;
    background-image: url("file://{images}/fallout_bar.png");
    background-size: 100%;
	margin-top: 160px;
	margin-left: 25px;
}

.FalloutBar Label
{
	color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
	margin-left: 40px;
}
 
#FalloutLvl
{
	color: #FFFFFF;
    font-size: 5px;
	margin-top: 17px;
    margin-left: 5px;
    text-align: left;
	width: 154px;
}

.RadObjective
{
	width: 161px;
	height: 25px;
    background-image: url("file://{images}/objectives_box.png");
    background-size: 100%;
	margin-top: 45px;
	margin-left: 38px;  
}

.RadObjective Label
{
	color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
	margin-top: 4px;
	margin-left: 8px;
}

#RadCount
{
	margin-top: 4px;
    margin-left: 100px;
    width: 30px;
}

#RadNeeded
{
	margin-top: 4px;
    margin-left: 123px;
    width: 30px;
}

#HazMatIconOn
{
	margin-top: 4px;
    margin-left: 75px;
    height: 15px;
	width: 15px;
	opacity: 1;
}

#HazMatIconOff
{
	margin-top: 4px;
    margin-left: 75px;
    height: 15px;
	width: 15px;
	opacity: 0;
}

.PowObjective
{
	width: 161px;
	height: 25px;
    background-image: url("file://{images}/objectives_box.png");
    background-size: 100%;
	margin-top: 85px;
	margin-left: 38px;   
}

.PowObjective Label
{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
	margin-top: 4px;
	margin-left: 8px;
}

#PowCount
{
	margin-top: 4px;
    margin-left: 100px;
    width: 30px;
}

#PowNeeded
{
	margin-top: 4px;
    margin-left: 123px;
    width: 30px;
}

.CivObjective
{
	width: 161px;
	height: 25px;
    background-image: url("file://{images}/objectives_box.png");
    background-size: 100%;
	margin-top: 125px;
	margin-left: 38px;   
}

.CivObjective Label
{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
	margin-top: 4px;
	margin-left: 8px;
}

#CivCount
{
	margin-top: 4px;
    margin-left: 100px;
    width: 30px;
}

#CivNeeded
{
	margin-top: 4px;
    margin-left: 123px;
    width: 30px;
}