.BaseHud
{
    flow-children: right;
	position: 57.3% 0.09% 0px;
}

.GoldCounterBox
{
    width: 100px;
    height: 40px;
    background-image: url("file://{images}/gold_counter.png");
    background-size: 100%;
}

.GoldCounterBox Label
{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
}

.ValorCounterBox
{
    width: 100px;
    height: 40px;
    background-image: url("file://{images}/valor_counter.png");
    background-size: 100%;
	margin-top: 1px;
}

.ValorCounterBox Label
{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
}

#GoldCount
{
    margin-top: 13px;
    margin-left: 2px;
    text-align: right;
    width: 60px;
}

#ValorCount
{
    margin-top: 13px;
    margin-left: 2px;
    text-align: right;
    width: 60px;
}
