.SquadStatusRoot
{
	/*horizontal-align: top;
	vertical-align: right;*/
	margin-top: 100px;
	margin-left: 30px;
	/*width: 600px;
	height: 600px;
	background-color: #FFFFFF; */
}

.SquadStatusRoot Label
{
    text-transform: uppercase;
	text-shadow: 0px 1px 3px 2.5 #000000;
	color: white;
	vertical-align: top;
	horizontal-align: center;
}

.Debug
{
	
}

.Debug Label
{
    text-transform: uppercase;
	text-shadow: 0px 1px 3px 2.5 #000000;
	color: white;
	vertical-align: top;
	horizontal-align: center;
}

#TestOutput
{
	text-transform: uppercase;
	text-shadow: 0px 1px 3px 2.5 #000000;
	color: white;
	vertical-align: top;
	horizontal-align: center;
}

#squad_list
{
	/*flow-children: down;*/
}



