.SelectClassRoot
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 200px;
	flow-children: right;
}
.ClassesPanel
{
   flow-children: down;
   visibility: visible;
}
.WeaponsPanel
{
   flow-children: down;
   margin-left: 50px;
   visibility: collapse;
}
.ArmorPanel
{
	flow-children: down;
   margin-left: 50px;
   visibility: collapse;
}
.ConfirmResetPanel
{
	flow-children: down;
   margin-left: 50px;
   margin-top: 250px;
   visibility: visible;
}