.AbilityOverlayRoot
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 0px;
	flow-children: down;
}

#ability_list
{
	flow-children: right;
	border: 2px solid black;
	background-color: #272823;
}

.AbilityPanel
{
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.AbilityPanel.no_ability
{
	visibility: collapse;
}

#ButtonAndLevel
{
	flow-children: down;
}

#AbilityButton
{
	width: 80px;
	height: 80px;
	border: 2px solid transparent;
}

.is_passive #AbilityButton
{
	border: 2px solid #00000000;
}

#UpgradeBorder
{
	background-color: transparent;
}

.learnable_ability #UpgradeBorder
{
   background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
}

#AbilityButton:hover
{
	border: 2px solid white;
}

#AbilityButton:active
{
	border: 4px solid white;
}

.no_level DOTAAbilityImage
{
	saturation: 0;
	wash-color: #303030;
}

.insufficient_mana DOTAAbilityImage
{
	saturation: 0;
	wash-color: #1569be;
}

.potential_upgrade.no_level DOTAAbilityImage
{
	saturation: 1;
	wash-color: white;
}

#AbilityStatusBorder
{
	border: 2px solid transparent;
}

.auto_cast_enabled #AbilityStatusBorder
{
	border: 4px solid orange;
}

.toggle_enabled #AbilityStatusBorder
{
	border: 4px solid green;
}

#AbilityLevelContainer
{
	horizontal-align: center;
	flow-children: right;
}

.LevelPanel
{
	width: 12px;
	height: 12px;
	margin-left: 1px;
	margin-right: 1px;

	border-radius: 3px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2e2716 ), to( #020302 ) );
	border: 2px solid #ffffff05;
}

.active_level.LevelPanel
{
	background-color: #ceaa31;
	border: 2px solid #734918;
}


